* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
}

button {
  background-color: rgb(217, 237, 237);
  color: rgb(122, 134, 144);
  font-size: 4rem;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(0, 153, 255);
}
